.contact .row{
    display: flex;
    flex-wrap: wrap;
}

.contact .row .map{
    flex:1 1 42rem;
    width: 100%;
}

.contact .row form{
    flex:1 1 42rem;
    padding: 2rem;
    text-align: center;
    background:#222;
}

.contact .row form h3{
    font-size: 3rem;
    padding-bottom: 1rem;
    color:var(--main-color);
}

.contact .row form .box{
    width:100%;
    padding:1rem 1.2rem;
    background:var(--black);
    color:#fff;
    font-size: 1.6rem;
    text-transform: none;
    margin: .7rem 0;
}

.contact .row form textarea{
    height:15rem;
    resize: none;
}